@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  font-family: 'Roboto', sans-serif
}
a {
  text-decoration: none;
  color: #333;
}
nav a {
  display: block;
  font-size: 1.5rem;
  margin: 10px;
}
a:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 0.9rem;
  text-align: center;
  line-height: 25px;
  vertical-align: 15%;
  color: #fff;
}
a:nth-child(1):before {
  content: '01';  
}
a:nth-child(2):before {
  content: '02';  
}
a:nth-child(3):before {
  content: '03';  
}
a:nth-child(1):after {
  content: 'update';
  display: inline-block;
  background-color: crimson;
  border-radius: 3px;
  color: #fff;
  font-size: 0.8rem;
  padding: 3px;
  margin-left: 5px;
  vertical-align: 15%;  
  animation: ani 1s linear infinite;
}
a:hover:after {
  animation-play-state: paused;
}
@keyframes ani {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
