body {
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
input[id=trigger] {
  display: none;  
}
label[for=trigger] {
  display: block;
  width: 80px;
  height: 60px;
  position: relative;
  cursor: pointer;
}
label[for=trigger] span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: gray;
  left: 0;
  transition: 0.3s;
}
label[for=trigger] span:nth-child(1) {
  top: 0;
}
label[for=trigger] span:nth-child(2) {
  top: 50%;
}
label[for=trigger] span:nth-child(3) {
  top: 100%;
}
input[id=trigger]:checked + label span {
  background-color: gold;
}
input[id=trigger]:checked + label span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
input[id=trigger]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id=trigger]:checked + label span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}